.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 8px;
  }
  
.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }