/* Body , head and paragraph styles */
body {
	display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
h1{
	color: #ffffff;
}
h2 {
	font-size: 44px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 25px;
}

h5 {
	font-size: 16px;
}

p {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .05em;
	color: #53627C;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

b {
	font-weight: 700;
}


.main-content {
  flex-grow: 1;
  padding: 30px; /* Adjust as needed */
}

.title-block {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

.title-block p {
	font-size: 20px;
	font-weight: 300;
	color: #8da2b5;
	margin-bottom: 0px;
}

.divider {
	padding: 2rem 0 0;
    margin: 2rem 0 0;
    border-top: 1px solid #3c3f45;
}

.divider-light {
	padding: 2rem 0 0;
    margin: 2rem 0 0;
	border-top: 1px solid #edf1f2
}

/* Nav bar */
nav{
	background-color: #0095f7;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

  nav ul li {
	display: inline;
	margin-right: 20px;
	text-decoration:none;
  }

  nav a {
	text-decoration: none;
	color: #fff;
	text-decoration:none;
  }

/* Footer  */

footer{
    background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
	position:relative;
	bottom: 0;
	width: 100%;
}



nav h1{
	color: white;
}
.external-links {
	color: #0095f7;
}

/* TaskNav */
.navigation{
	display: flex;
	justify-self: space-around;
	margin: 20px 0;
}
.navigation a{
	text-decoration: none;
	color: #333;
	padding: 10px;
	border-radius: 5px;
}
.navigation a:hover{
    text-decoration:none;
	background-color: #eee;
}
.checkbox{
	cursor: pointer;
}
.tasklist{
	padding: 30px;
}



* {
    box-sizing: border-box;
  }

  form {
    border: 1px solid #333;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
  }

  .input-group {
    display: flex;
    margin-bottom: 10px;
  }

  label {
    width: 100px;
  }

  input,
  select,
  textarea {
    flex: 1;
    padding: 3px 5px;
  }

  .submit-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  button {
    width: 100px;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
.content-section{
	text-align: center;
}