body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: crimson;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
.bar {
  
  width: 100%;
  height: 40px;
  display: flex;
  list-style: none;
  padding: 0;
}

.bar li {
  height: 100%;
  width: 100px;
  border: 1px solid black;
  
}

.bar li a {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.bar li a:hover {
  background-color:wheat;
}

.bar li a.active {
  background-color: white;
  color: white;
}
