<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>{{ title }}</title>
        
          <header>{{title}}
            <div class="container">
                <nav>
                <ul class="bar">
                  <li><a href="/">Home</a></li>
                  <li><a href="login">Login</a></li>
                  <li><a href="signup">Signup</a></li>
                  
                  <li><a href="#">Tasks</a></li>
                  <li><a href="#">Logout</a></li>
                  <li><a href="account">Account</a></li>

                </ul>
                </nav>
              </div>
          </header>
          
          
    </head>

    <body>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        
       
            

            <main>
                {% block content %}{% endblock %}
            </main>
                
           
            
            

           
          
    </body>
</html>