<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- Bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>{{ title }}</title>
        <!-- Navigation bar -->
        <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
            <h1> {{ title }} </h1>
            <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                {% if current_user.is_authenticated %}
                <li class="nav-item nav-custom-link">
                  <a class="nav-link" href="{{ url_for('main.home')}}">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                </li>
                <li class="nav-item nav-custom-link">
                  <a class="nav-link" href="{{ url_for('users.account')}}">Account <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                </li>
                <li class="nav-item nav-custom-link">
                  <a class="nav-link" href="{{ url_for('tasks.task_list')}}">tasks<i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                </li>
                <li class="nav-item nav-custom-link">
                  <a class="nav-link" href="{{ url_for('users.logout')}}">Logout <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                </li>

                {% else %}
                <li class="nav-item nav-custom-link">
                  <a class="nav-link" href="{{ url_for('main.home')}}">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                </li>
                <li class="nav-item nav-custom-link">
                  <a class="nav-link" href="{{ url_for('users.signup')}}">Signup <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                </li>
                <li class="nav-item nav-custom-link">
                  <a class="nav-link" href="{{ url_for('users.login')}}">Login <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                </li>
                {% endif %}
                  


                  
                </ul>
              </div>
            </div>
          </nav>
          
    </head>

    <body>
       
        
  <!-- N A V B A R -->
  
       
            
            <!-- Flashed messages -->
            <section>
              {% with messages= get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for category, message in messages %}
                 <div class="alert alert-{{ category }}">
                {{ message }}

                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <!-- Block content section where all html are liked to the layout -->
                {% block content %}{% endblock %}
            </section>
               
           
                
           
            
            
            <footer>
        
                <div class="col-md-3">
                  <h5>Company</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque, tortor nec mattis feugiat, velit purus euismod odio, quis vulputate velit urna.</p>
                  <p><a href="mailto:sales@theseocompany.com" class="external-links">sales@theseocompany.com</a></p>
                </div>
              </div> 
              
            </div>
          </footer>
           
          
    </body>
</html>