{% extends "layout.html" %}
{% block content %}
<!-- Displaying the task and information related to it -->
<div class="content-section">
    <h2>{{ task.title }}</h2>
    <p>Current time :<span id="datetime"></span> </p>
    <p>{{ task.description }}</p>
    <p><strong>Importance:</strong> {{ task.importance }}</p>
    <p><strong>Due Date:</strong>{{ task.due_date }}</p>
    <p ><strong>Complexity: </strong> {{ task.complexity }}</p>
</div>
<!-- Update task button -->
<a href="{{ url_for('tasks.update_task', task_secret=task.task_secret) }}" class="btn btn-primary">Update Task</a>
        
<!-- Delete task button -->
<a href="{{ url_for('tasks.delete_task', task_secret=task.task_secret) }}" class="btn btn-primary">Delete Task</a>
   
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock content %}